@font-face {
  font-family: 'Arvo';
  src: url('../assets/fonts/Arvo/Arvo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

:root {
  --text-light: #0c1d16;
  --background-light: #f8fcfa;
  --primary-light: #5dbb93;
  --secondary-light: #9dcdb5;
  --accent-light: #fb7646;

  --text-dark: #e2f3ec;
  --background-dark: #030705;
  --primary-dark: #44a279;
  --secondary-dark: #32624a;
  --accent-dark: #b93404;
}

/* semantic color variables for this project */
:root {
  --color-text: var(--text-light);
  --color-background: var(var(--background-light));
  --color-primary: var(--primary-light);
  --color-secondary: var(--secondary-light);
  --color-accent: var(--accent-light);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--text-dark);
    --color-background: var(--background-dark);
    --color-primary: var(--primary-dark);
    --color-secondary: var(--secondary-dark);
    --color-accent: var(--accent-dark);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Lato,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
